{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
    <div class = "dados">
        <br>
        <h1>{{header}}</h1>
        <br>
      {% if ulogin == "root" %}
        <button id="edit" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=edit'" class="button1">Editar</button>
        <button id="delete" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=delete'" class="button1">Eliminar</button>
        <button id="insert" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=insert'" class="button1">Inserir</button>
        <button id="save" type="submit" form="form" class="button1" {{ butedit }}>Guardar</button>
        <button id="cancel" type="button" {{ butedit }} onclick="window.location.href = '/gform/{{ cname }}?option=cancel'" class="button1">Cancelar</button>
        <button id="exit" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=exit'" class="button1">Sair</button>
        <br><br>
    {% endif %}
        
         <form id="form" action="/customer_foto?option=save" enctype="multipart/form-data" method="post">
        <table>
        <tr>
        <td>
           
        </td>
        <td>
        
       
                
                  <label for={{att[0]}}>{{des[0]}}:</label>
            <br>
                      {% if  butedit == 'enabled' and auto_number == 1 %}              
                      <input type="text" disabled id="{{att[0]}}" name="{{att[0]}}" value="{{obj[att[0]]}}" size="30">
                      {%else%}                  
                          <input type="text" {{butedit}} id="{{att[0]}}" name="{{att[0]}}" value="{{obj[att[0]]}}" size="30">
                      {%endif%}
                  <br><br>
                
                  <label for={{att[1]}}>{{des[1]}}:</label>
                                    <br>
                      <input type="text" {{butedit}} id="{{att[1]}}" name="{{att[1]}}" value="{{obj[att[1]]}}" size="30">
                  
                  <br><br>
                
                  <label for={{att[2]}}>{{des[2]}}:</label>
                             <br>
                      <input type="text" {{butedit}} id="{{att[2]}}" name="{{att[2]}}" value="{{obj[att[2]]}}" size="30">
                  
                  <br><br>
                
                  <label for={{att[3]}}>{{des[3]}}:</label>
                            <br>
                      <input type="text" {{butedit}} id="{{att[3]}}" name="{{att[3]}}" value="{{obj[att[3]]}}" size="30">
                  
                  <br><br>
                
                  <label for={{att[4]}}>{{des[4]}}:</label>
                              <br>
                      <input type="text" {{butedit}} id="{{att[4]}}" name="{{att[4]}}" value="{{obj[att[4]]}}" size="30">
                <br><br>
                   <label for={{att[5]}}>{{des[5]}}:</label>
            <br>
                    <input type="text" {{butedit}} id="{{att[5]}}" name="{{att[5]}}" value="{{obj[att[5]]}}" size="30">

                 </td>
                 
                 <td>


                 </td>
                <td>

                    {% if img %}
                    <img src="{{img}}" width="100%">
                    {% else %}
                    <h1>Sem foto</h1>
                    {% endif %}
                    <br> <input name="img" {{butedit}} type="file"/>
                 </td>
                 </tr>
                
        
        </table>
        </form>
        <br>
        <button id="first" type="button" {{butshow}} onclick="window.location.href = '/customer_foto?option=first'" class="button1">Primeiro</button>
        <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/customer_foto?option=previous'" class="button1">Anterior</button>
        <button id="next" type="button" {{butshow}} onclick="window.location.href = '/customer_foto?option=next'" class="button1">Seguinte</button>
        <button id="last" type="button" {{butshow}} onclick="window.location.href = '/customer_foto?option=last'" class="button1">Último</button>
    </div>

{% endblock %}