{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
</style>

        
        <div class="dados">
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        
            <h1>Register</h1>
            <form id="form" action="/chkregister" method="post">
                <label for="user">User:</label>
                <input type="text" id="user" name="user" value="{{ user }}" size="30" required/>
                <br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="{{ password }}" size="30" required/>
                <br><br>
                <label for="up">Up:</label>
                <input type="up" id="up" name="up" value="{{ up }}" size="30" required/>
                <br><br>
                <label for="usergroup">User Group:</label>
                <select id="usergroup" name="usergroup" required>
                    <option value="users" {% if usergroup == 'users' %}selected{% endif %}>Cliente</option>
                </select>
                <br><br>
                
                <br><br>
                <button type="submit" class="sign">Sign Up</button>
            </form>
            <br><br>
            <h3>{{ resul }}</h3>
            <a href="/" class="voltar">Voltar</a>
        </div>
   
{% endblock %}
